<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <h1>Hello World!</h1>
  <!-- ↓↓↓↓↓　ここから　↓↓↓↓↓↓ -->
  <ul class="table-body">
    <% items.forEach((item) => { %>
      <li>
        <div class="item-data">
          <span class="id-column"><%= item.id %></span>
          <span class="name-column"><%= item.name %></span>
        </div>
      </li>
    <% }) %>
  <!-- ↑↑↑↑↑　ここまで　↑↑↑↑↑ -->
  </ul>
</body>
</html>