<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script type="text/javascript" src="/javascripts/formCustom.js"></script>
</head>

<body>
  <h1><%= title %></h1>

  <div><a href="https://mapin-stm.herokuapp.com/">ホテル検索はこちら</a></div>
  <!-- <div><a href="http://localhost:3000/">ホテル検索はこちら</a></div> -->
  <div><a href="https://www.google.co.jp/maps/">緯度／経度の検索はこちら</a></div>

  <div id="createForm">
    <form action="/form" method="post">
      <table>
        <tbody>
          <tr>
            <th>ホテル名</th>
            <td><input type="text" name="hotelName" class="check" value=""></td>
          </tr>
          <tr>
            <th>緯度</th>
            <td><input type="text" name="latitude" class="check" value=""></td>
          </tr>
          <tr>
            <th>経度</th>
            <td><input type="text" name="longitude" class="check" value=""></td>
          </tr>
          <tr>
            <th>ホームページURL</th>
            <td><textarea name="hpUrl" class="check" cols="22" rows="5"></textarea></td>
          </tr>
          <tr id="errArea" style="display: none;">
            <td colspan="2"><span class="errMsg">緯度／経度には半角小数を入力してください。</span></td>
          </tr>
          <tr>
            <td></td>
            <td style="text-align: right;"><button type="submit" disabled="disabled">送信</button></td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
  <div id="map"></div>

</body>

</html>
