<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1><%= title %></h1>

  <div><a href="http://localhost:3000/">ホテル検索はこちら</a></div>
  <div><a href="http://localhost:3000/form/">ホテルのマップ情報登録はこちら</a></div>

</body>

</html>
